*{
	padding: 0;
	margin-bottom: 0;
	box-sizing: border-box;
    bottom:10px ;
    position: relative;
	
}

body{
    font-family:"Itim";
    overflow: hidden;
position: relative;
 top: 500px;
  

}
.btn.btn-success{
	position: relative;
	width: 300px;
	left: -200px;
top: -40px;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #fe5622, #fe5623, #fe5624);
	background-size: 100%;
	font-size: 1.3rem;
	color: #fff;
	font-family:"Itim";
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.margin{


}
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
	border: #fe5622 4px solid;
	border-radius: 30px;
 
  
    margin: 0 auto;
    max-width: 970px;
  height:800px;
  
    bottom: 1095px;

	
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
  
}
.s{
	position: relative;
	top :120px;
	right: 100px;
}
.img{
position: relative;
top: 250px;
left: 0px;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
	position: relative;
	
}


form{
	width: 360px;
}

.login-content img{position: relative;
    height: 200px;
    right: 2px;
    bottom: 60px;
}

.login-content h2{
	position: relative;
    bottom: 115px;
    left: 15px;
	color: #333;
	font-size:40px;
    letter-spacing: 2.3px;
    font-family: "Itim";
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 150px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 00;
	width: 100%;
	height: 100;
	border: #fe5622;
	border-width: 100%;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}
.lastchance > input{
display: grid;
position: relative;
bottom: 90px;

border: #fe5622 solid 2px;
border-radius: 12px;
outline: none;
gap: 30px;
padding: 15px;
width: 100%;
font-size: 18px;
}
.input4{
	position: relative;
	bottom: 90px;
	
	border: #fe5622 solid 2px;
	border-radius: 12px;
	outline: none;
}
.input2{
	position: relative;
	bottom: 70px;
	
	border: #fe5622 solid 2px;
	border-radius: 12px;
	outline: none;
	display: grid;
position: relative;
bottom: 90px;

border: #fe5622 solid 2px;
border-radius: 12px;
outline: none;
gap: 30px;
padding: 15px;
width: 100%;
font-size: 18px;
}
.input3{
	position: relative;
	bottom: 50px;
	
	border: #fe5622 solid 2px;
	border-radius: 12px;
	outline: none;
}

	

.input1{
	position: relative;
	bottom: 40px;
	
	border: #fe5622 solid 2px;
	border-radius: 7px;
	outline: none;
	font-size: x-large;
}
.eyee{
	position: relative;
	left: 150px; /* Change this value to adjust the horizontal position */
top: -285px; /* Adjust this value to center vertically */
cursor: pointer;

  

}
a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #38d39f;
}
.input-div :focus{
    border: #fe5622 2px solid;
    border-radius: 14px;

}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0.5;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #fe5622, #fe5623, #fe5624);
	background-size: 100%;
	font-size: 1.2rem;
	color: #fff;
	font-family: "Itim";
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}.btnn{
	
	position: relative;
		width: 350px;
		right: 270px;
		bottom:-135px;
		height: 50px;
		border-radius: 25px;
		outline: none;
		border: none;
		background-image: linear-gradient(to right, #fe5622, #fe5623, #fe5624);
		background-size: 100%;
		font-size: 1.2rem;
		color: #fff;
		font-family:"Itim";
		text-transform: uppercase;
		margin: 1rem 0;
		cursor: pointer;
		transition: .5s;
}
.hidden{
	display: none;


}
.imgg{
	position: relative;
bottom: 860px;
left: 500px;

}
.im{
	position: relative;
	left: 50px;
	bottom: 30px;
}
.btn:hover{
	background-position: right;
}.btnt{
	position: relative;
		width: 300px;
		left: -200px;
	top: -40px;
		height: 50px;
		border-radius: 25px;
		outline: none;
		border: none;
		background-image: linear-gradient(to right, #fe5622, #fe5623, #fe5624);
		background-size: 100%;
		font-size: 1.3rem;
		color: #fff;
		font-family:"Itim";
		text-transform: uppercase;
		margin: 1rem 0;
		cursor: pointer;
		transition: .5s;
}
.botn{
	position: relative;
		width: 300px;
		right: -400px;
	bottom: 1400px;
		height: 50px;
		border-radius: 25px;
		outline: none;
		border: none;
		background-image: linear-gradient(to right, #fe5622, #fe5623, #fe5624);
		background-size: 100%;
		font-size: 1.3rem;
		color: #fff;
		font-family:"Itim";
		text-transform: uppercase;
		margin: 1rem 0;
		cursor: pointer;
		transition: .5s;
}
.inputt{
 
	position: relative;
	bottom: 40px;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 10px ;
    border-bottom: 2px  solid #d9d9d9;
border-top: none;
border-left: none;
border-right: none;
	left: 0;
	top: 00;
	width: 100%;
	height: 100%;
	
	

	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;

	
	font-size: 1.2rem;

	font-family: 'poppins', sans-serif;
}

.inputt.focus :focus{
    border: #fe5622 2px solid;
    border-radius: 14px;
}
@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}